version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - mvc_net

  db:
    image: mysql:8.0
    container_name: mvc_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: motorhub_db
      MYSQL_USER: user_motor
      MYSQL_PASSWORD: password_motor
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # Autoscript to init DB
      - ./database.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - mvc_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: user_motor
      PMA_PASSWORD: password_motor
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - mvc_net

networks:
  mvc_net:
    driver: bridge

volumes:
  db_data:
